# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Ignore large model files but keep the directory structure
models/*.gguf


# Node
node_modules/
npm-debug.log

# Mac
.DS_Store

# IDE
.vscode/
.idea/
