version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80" # host:container
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/pocketllm
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=pocketllm
    volumes: # mounting local init.sql file into the container at the specific path init.sql
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  redis:
    image: redis:7 # this image comes with a sensible default configuration that works perfectly for caching
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
